body{
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(to bottom right,var(--orange) , var(--pink));
    text-align: center;
    font-size: 24px;
    width: 70%;
    margin: auto;
}

.capitalize{
    text-transform: capitalize;
}

h1{
    font-family: 'Work Sans',sans-serif;
    font-size: 34px;
    text-transform: capitalize;
    background-color: var(--brown);
    width: fit-content;
    margin: 15% auto;
    color: var(--gold);
    padding: 10px;
    border-radius: 15px;
}
label{
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--brown);
    margin: 10% auto;
}
/* inputs styling */
input, #imgLabel{
    box-sizing: border-box;
    background-color: var(--grey);

    padding: 10px;
    margin: 3px auto;

    text-align: center;
    font-size: inherit;
    color: var(--brown);

    width: 100%;
    border:none;
    overflow: auto;
}
input::placeholder{
    color: black;
}




.ingrd{
    display: flex;
    justify-content: center;
    gap: 1%;
    margin: 3% 0;
}
.ingrd input{
    max-width: 49%;
    flex-grow: 1;
    margin: 0;
}


input[type="file"]{
    display: none;
}
#imgLabel{
    background-color: var(--grey);
}
/* Style for the label when the file input is filled */
#imgLabel.filled {
    filter: brightness(0.8);
}


button{
    display: block;

    text-transform: capitalize;
    text-align: center;
    font-size: 28px;
    font-weight: 600;

    background-color: white;
    color: var(--brown);

    border: none;
    border-radius: 5px;

    padding: 20px 60px;
    margin: 15% auto;
}



/* division tb3 l home */
#home{
    position: absolute;
    left: -40px;
    bottom: 20px;
    height:40px;
    aspect-ratio: 1/1;
    text-align: center;
    background-color:var(--brown);
    border-radius: 50%;
}
#home svg{
    width: 70%;
    fill:white;
    margin-top: 5px;
}
#home svg:active{
    fill: var(--gold);
}
#home:active ~ svg{
    fill: var(--gold);
}